p {
  font-family: tahoma, sans-serif;
}
li {
  list-style: none;
}
header {
  padding-bottom: 10px;
  box-shadow: 0 5px 10px -4px #808080;
  position: relative;
  z-index: 5;
}
.inner-header {
  max-width: 960px;
  margin: 0 auto;
}
.logos {
  position: relative;
}
.pic-logo {
  width: 100px;
  height: 100px;
  background: transparent url(../images/nancy-sprites.png) no-repeat -450px 0;
}
.letters-logo {
  width: 550px;
  height: 100px;
  margin: 0 10px 0 0;
  background: transparent url(../images/nancy-sprites.png) no-repeat 0 -91px;
}
#content {
  background-color: #f1f1f1;
}
.sections-content {
  background-color: #ffffff;
}
.social-buttons {
  position: absolute;
  left: 0;
  top: -8px;
  transition: all 0.4s;
}
.social-buttons li {
  float: right;
}
.social-buttons a {
  display: block;
  position: relative;
  width: 45px;
  height: 50px;
  background: transparent url(../images/nancy-sprites.png) no-repeat -3px -350px;
}
.social-buttons a:hover {
  top: 5px;
}
.social-buttons .instagram a {
  background-position: -51px -350px;
}
.social-buttons .facebook a {
  background-position: -101px -350px;
}
.social-buttons .twitter a {
  background-position: -152px -350px;
}
.social-buttons .keek a {
  background-position: -201px -350px;
}
.share {
  top: 80px;
  width: 45px;
  height: 50px;
  background: transparent url(../images/nancy-sprites.png) no-repeat -255px -350px;
  display: none;
}
.footer-social {
  margin-left: 30px;
  float: left;
}
.footer-social .social-buttons {
  position: static;
  float: left;
}
.footer-social .social-buttons li {
  margin: 0 3px;
}
.footer-social .social-buttons a {
  width: 20px;
  height: 20px;
  background-position: -3px -406px;
}
.footer-social .social-buttons a:hover {
  top: 0;
}
.footer-social .social-buttons .instagram a {
  background-position: -33px -406px;
}
.footer-social .social-buttons .facebook a {
  background-position: -60px -406px;
}
.footer-social .social-buttons .twitter a {
  background-position: -90px -406px;
}
.footer-social .social-buttons .keek a {
  background-position: -118px -406px;
}
.sections-content {
  padding: 10px 0;
  max-width: 1024px;
  margin: 0 auto;
  box-shadow: 0px -6px 0px 0px #ffffff, 5px 0 10px -4px #808080, -5px 0 10px -4px #808080;
}
.sections-content .section-title {
  max-width: 960px;
}
.sections-content .section-title h1 {
  border-bottom: 1px solid #c8c6c7;
}
.sections-content .section-title h1 span {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: transparent url(../images/nancy-sprites.png) no-repeat -125px 0px;
  vertical-align: middle;
  margin: 0 5px;
}
.sections-content .section-title h1:after {
  content: " ";
  width: 60px;
  height: 60px;
  background: transparent url(../images/nancy-sprites.png) no-repeat -280px 0px;
  float: left;
}
.latest-sections {
  -moz-box-shadow: 0 0 5px #c8c6c7;
  -webkit-box-shadow: 0 0 5px #c8c6c7;
  box-shadow: 0 0 5px #c8c6c7;
  border-bottom: 1px solid transparent;
}
.latest-sections h1 {
  border-bottom: 1px solid #c8c6c7;
  padding: 10px;
}
.latest-sections h1 span {
  width: 60px;
  height: 54px;
  display: inline-block;
  vertical-align: middle;
  background: transparent url(../images/nancy-sprites.png) no-repeat -367px -18px;
}
.latest-sections img {
  max-width: 100%;
}
.latest-sections > div {
  border-bottom: 1px solid #c8c6c7;
  margin-bottom: 15px;
  margin-top: 10px;
}
.side-latest-news {
  background-color: #f6f6f6;
}
.side-latest-news > div img {
  transition: all 0.1s;
}
.side-latest-news > div:hover img {
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.side-latest-events {
  margin: 15px 0;
}
.side-latest-events h1 span {
  background-position: -125px 0px;
}
.side-latest-events > div img {
  transition: all 0.1s;
}
.side-latest-events > div:hover img {
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.img-wrapper-nopadding {
  padding: 0 !important;
}
footer {
  background-color: #eeeced;
  padding: 15px 0;
  font-family: 'Conv_GE_SS_Two_Light';
}
.inner-footer {
  max-width: 1024px;
  margin: 0 auto;
}
.footer-logo {
  width: 375px;
  height: 60px;
  background: transparent url(../images/nancy-sprites.png) no-repeat 4px -217px;
}
.unicef-logo {
  margin-top: 10px;
  width: 110px;
  height: 30px;
  background: transparent url(../images/nancy-sprites.png) no-repeat -239px -60px;
}
.button {
  display: block;
  background-color: #c8c6c7;
  max-width: 240px;
  margin: 20px auto;
  padding: 12px 0;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Conv_GE_SS_Two_Light';
}
.sharing-buttons-wrapper {
  position: relative;
  margin: 15px 0 0 0;
  min-height: 35px;
}
.sharing-buttons-wrapper:before {
  outline: none;
  cursor: pointer;
  content: " ";
  position: absolute;
  z-index: 15;
  top: 0;
  width: 35px;
  height: 35px;
  background: #e4e4e4 url(../images/nancy-sprites.png) no-repeat -258px -307px;
  transition: all 0.3s;
}
.sharing-buttons-wrapper .sharing-buttons {
  display: none;
}
.sharing-buttons {
  width: 100%;
  float: right;
  position: relative;
}
.sharing-buttons li {
  border-bottom: none !important;
  float: right;
  margin: 5px 0;
  height: 25px;
  position: relative;
}
.sharing-buttons li iframe {
  width: 90px !important;
}
.sharing-buttons li span {
  background: none !important;
}
.sharing-buttons .fb-share-button-container {
  margin-right: 0;
}
.test .sharing-buttons {
  display: block;
}
@media (min-width: 30em) {
  .test:before {
    -moz-transform: translateX(-282px);
    -o-transform: translateX(-282px);
    -ms-transform: translateX(-282px);
    -webkit-transform: translateX(-282px);
    transform: translateX(-282px);
  }
}
@media (max-width: 50em) {
  .logos a {
    margin: 0 auto;
    display: block;
    float: none !important;
  }
}
@media (max-width: 30em) {
  a.letters-logo {
    display: none;
  }
  .share {
    display: block;
  }
  .social-buttons {
    left: -222px;
  }
  .showButtons {
    left: 0px;
  }
  .test:before {
    -moz-transform: translateY(-35px);
    -o-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
  }
}
.navigation {
  font-family: 'Conv_GE_SS_Two_Light';
  direction: rtl;
  margin: 10px auto;
  width: 100%;
  font-size: 21px;
  background-color: #ffffff;
}
.navigation ul {
  text-align: center;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}
.navigation li {
  list-style: none;
  display: inline-block;
}
.navigation a {
  display: block;
  color: #808080;
  padding: 0 10px;
  margin: 5px;
  text-decoration: none;
}
.navigation a:hover {
  color: #999999;
}
.navigation .menu-trigger {
  display: none;
}
.footer-navigation {
  margin: 0;
}
.footer-navigation li {
  list-style: none;
  float: right;
  margin: 5px 10px;
}
.footer-navigation li a {
  font-size: 15px;
  color: #3f3329;
}
@media (max-width: 50em) {
  .navigation {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    z-index: 20;
    list-style: none;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: 0 transform 0.5s;
    transition: transform 0.5s;
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .navigation ul {
    position: fixed;
    height: 100%;
    overflow-y: auto;
  }
  .navigation li {
    text-align: right;
    padding: 5px 0;
    width: 200px;
    border-bottom: 1px solid #808080;
  }
  .navigation a {
    color: #000000;
  }
  .navigation .menu-trigger {
    display: block;
    position: absolute;
    left: -49px;
    top: 0;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 48px;
    background: transparent url(../images/nancy-sprites.png ) no-repeat -103px -52px;
    text-indent: -9999px;
    border-left: 1px solid #808080;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: 0 transform 0.5s;
    transition: transform 0.5s;
  }
  .slideNavigation {
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .slideNavigation .menu-trigger {
    background-color: #ffffff;
  }
  .rotateTrigger {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border-right: 2px solid #808080;
    border-left: none !important;
  }
  .footer-navigation {
    display: none;
  }
}
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behavior on widths */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-size: 1em;
  color: #9c9c9c;
}
.mother-ship {
  direction: rtl;
  font-family: 'tahoma';
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #808080;
  font-family: 'Conv_GE_SS_Two_Light';
  margin: 5px 0;
  font-weight: normal;
}
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.54em;
}
h3 {
  font-size: 1.232em;
}
h4 {
  font-size: 1.1088em;
}
a {
  color: #808080;
  text-decoration: none;
}
a:hover {
  color: #555555;
}
.row {
  max-width: 100%;
  margin: 0px auto;
}
/* Attribute selector */
[class*='col-'] {
  float: right;
  padding: 0.7em;
  min-height: 1px;
}
/* Floats last ".col-" to the opposite direction */
[class*='col-']:last-of-type {
  padding-left: 0.5em;
}
/* Clearfix */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 24.99%;
}
.col-4 {
  width: 33.32%;
}
.col-5 {
  width: 41.65%;
}
.col-6 {
  width: 49.98%;
}
.col-7 {
  width: 58.31%;
}
.col-8 {
  width: 66.64%;
}
.col-9 {
  width: 74.97%;
}
.col-10 {
  width: 83.3%;
}
.col-11 {
  width: 91.63%;
}
.col-12 {
  width: 100%;
}
/* Custom Widths */
.col-25 {
  width: 25%;
}
.col-75 {
  width: 75%;
}
/* Landscape mobile & down */
@media (max-width: 30em) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
  }
  .row .col-4:nth-child(2) {
    float: right;
  }
  .row .col-4:nth-child(3) {
    clear: both;
    float: left;
  }
  .row .col-4:nth-child(4) {
    float: right;
  }
}
/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .col-2,
  .col-4,
  .col-6,
  .col-8,
  .col-10,
  .col-12,
  .col-1,
  .col-3,
  .col-5,
  .col-7,
  .col-9,
  .col-11 {
    width: 100%;
  }
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 24.99%;
  }
  .col-m-4 {
    width: 33.32%;
  }
  .col-m-5 {
    width: 41.65%;
  }
  .col-m-6 {
    width: 49.98%;
  }
  .col-m-7 {
    width: 58.31%;
  }
  .col-m-8 {
    width: 66.64%;
  }
  .col-m-9 {
    width: 74.97%;
  }
  .col-m-10 {
    width: 83.3%;
  }
  .col-m-11 {
    width: 91.63%;
  }
  .col-m-12 {
    width: 100%;
  }
}
/* Landscape to small desktop */
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
