// direction of the grid RTL or LTR
@gridDirection: rtl;
@gridFloats : right;
@lastItemFloat : left;

//typography
@baseFontSize: 1em;

@h1FontSize: @baseFontSize * 2.2em; //35px

@h2FontSize: @h1FontSize * 0.7em; //25px
@h3FontSize: @h2FontSize * 0.8em; //25.92px
@h4FontSize: @h3FontSize * 0.9em;
@h5FontSize: @h4FontSize * 0.8em;
@h6FontSize: @h5FontSize * 0.8em;


//font family
@sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily: Georgia, "Times New Roman", Times, serif;
@headersFont: 'Conv_GE_SS_Two_Light';
@arabicFont: 'tahoma';

//main font color
@baseFontColor: #9c9c9c;
//headers font color
@headersFontColor: #808080;
//links font color
@baseLinksColor: #6a5946;
@hoverLinksColor: #555555;


//navigation link colors
@navigationLinkColor: #808080;
@navigationFontFamily:'Conv_GE_SS_Two_Light';
@navigationHoverLinkColor: #999999;







p{
	font-family: tahoma, sans-serif;
}

li{
	list-style: none;
}
header{
	padding-bottom: 10px;
	box-shadow: 0 5px 10px -4px #808080;
	position: relative;
	z-index: 5;
}
.inner-header{
	max-width: 960px;
	margin: 0 auto;
}
.logos{
	position: relative;
}
.pic-logo{
	width: 100px;
	height: 100px;
	background: transparent url(../images/nancy-sprites.png) no-repeat -450px 0;
}

.letters-logo{
	width: 550px;
	height: 100px;
	margin: 0 10px 0 0;
	background: transparent url(../images/nancy-sprites.png) no-repeat 0 -91px;
}

#content{
    background-color: #f1f1f1;
}

.sections-content{
	background-color: #ffffff;
}
.social-buttons{
	position: absolute;
	left: 0;
	top: -8px;
	transition: all 0.4s;
	li{
		float: right;
		// margin-right: 5px;
	}

	a{
		display: block;
		position: relative;
		width: 45px;
		height: 50px;
		background: transparent url(../images/nancy-sprites.png) no-repeat -3px -350px;

		&:hover{
			top: 5px;
		}
	}

	.instagram{
		a{
			background-position: -51px -350px;
		}
	}

	.facebook{
		a{
			background-position: -101px -350px;
		}
	}

	.twitter{
		a{
			background-position: -152px -350px;
		}
	}
	.keek{
		a{
			background-position: -201px -350px;
		}
	}
}

.share{
	top: 80px;
	width: 45px;
	height: 50px;
	background: transparent url(../images/nancy-sprites.png) no-repeat -255px -350px;
	display: none;
}


.footer-social{
	margin-left: 30px;
	float: left;
	.social-buttons{
		position: static;
		float: left;

		li{
			margin: 0 3px;
		}
		a{
			width: 20px;
			height: 20px;
			background-position: -3px -406px;

			&:hover{
				top: 0;
			}
		}

		.instagram{
			a{
				background-position: -33px -406px;
			}
		}

		.facebook{
			a{
				background-position: -60px -406px;
			}
		}

		.twitter{
			a{
				background-position: -90px -406px;
			}
		}

		.keek{
			a{
				background-position: -118px -406px;
			}
		}
	}
}

.sections-content{
	padding: 10px 0;
	max-width: 1024px;
	margin: 0 auto;
	box-shadow: 0px -6px 0px 0px #ffffff,
							5px 0 10px -4px #808080,
							-5px 0 10px -4px #808080;

	.section-title{
		max-width: 960px;
		h1{
			border-bottom: 1px solid #c8c6c7;;

			span{
				display: inline-block;
				width: 60px;
				height: 60px;
				background: transparent url(../images/nancy-sprites.png) no-repeat -125px 0px;
				vertical-align: middle;
				margin: 0 5px;
			}

			&:after{
				content: " ";
				width: 60px;
				height: 60px;
				background: transparent url(../images/nancy-sprites.png) no-repeat -280px 0px;
				float: left;
			}
		}

	}
}



//side latest section styling
.latest-sections{
  -moz-box-shadow: 0 0 5px #c8c6c7;
  -webkit-box-shadow: 0 0 5px #c8c6c7;
  box-shadow: 0 0 5px #c8c6c7;
	border-bottom: 1px solid transparent;

	h1{
		border-bottom: 1px solid #c8c6c7;
		padding: 10px;
		span{
      width: 60px;
      height: 54px;
      display: inline-block;
      vertical-align: middle;
      background: transparent url(../images/nancy-sprites.png) no-repeat -367px -18px;
    }
	}
	img{
		max-width: 100%;
	}
	> div{
		border-bottom: 1px solid #c8c6c7;
		margin-bottom: 15px;
		margin-top: 10px;
	}
}

.side-latest-news{
	background-color: #f6f6f6;
	> div{
		img{
			transition: all 0.1s;
		}
		&:hover{
			img{
				-moz-transform: scale(0.95);
				-o-transform: scale(0.95);
				-ms-transform: scale(0.95);
				-webkit-transform: scale(0.95);
				transform: scale(0.95);
			}
		}
	}
}
.side-latest-events{
	margin: 15px 0;
	h1{
		span{
			background-position: -125px 0px;
		}
	}
		> div{
		img{
			transition: all 0.1s;
		}
		&:hover{
			img{
				-moz-transform: scale(0.95);
				-o-transform: scale(0.95);
				-ms-transform: scale(0.95);
				-webkit-transform: scale(0.95);
				transform: scale(0.95);
			}
		}
	}
}

.img-wrapper-nopadding{
	padding: 0 !important;
}

footer{
	background-color: #eeeced;
	padding: 15px 0;
	font-family: @navigationFontFamily;
}

.inner-footer{
	max-width: 1024px;
	margin: 0 auto;
}
.footer-logo{
	width: 375px;
	height: 60px;
	background: transparent url(../images/nancy-sprites.png) no-repeat 4px -217px;
}

.unicef-logo{
	margin-top: 10px;
	width: 110px;
	height: 30px;
	background: transparent url(../images/nancy-sprites.png) no-repeat -239px -60px;
}
.button{
	display: block;
	background-color: #c8c6c7;
	max-width: 240px;
	margin: 20px auto;
	padding: 12px 0;
	text-align: center;
	border-radius: 5px;
	color: #ffffff;
	font-family: @headersFont;
}

.sharing-buttons-wrapper{
	position: relative;
	margin: 15px 0 0 0;
	min-height: 35px;
		&:before{
		outline: none;
		cursor: pointer;
		content: " ";
		position: absolute;
		// display: block;
		z-index: 15;
		top:0;
		width: 35px;
		height: 35px;
		background: #e4e4e4 url(../images/nancy-sprites.png) no-repeat -258px -307px;
		transition: all 0.3s;
	}

	.sharing-buttons{
		display: none;
	}
}

.sharing-buttons{
	width: 100%;
	float: right;
	position: relative;

	li{
		border-bottom: none !important;
		float: right;
		margin: 5px 0;
		height: 25px;

		position: relative;
		iframe{
			width: 90px !important;
		}

		span{
			background: none !important;
		}
	}

	.fb-share-button-container{
		margin-right: 0;
	}

}

.test{

	.sharing-buttons{
		display: block;
	}
}

@media (min-width: 30em ){
	.test{
		&:before{
				-moz-transform: translateX(-282px);
				-o-transform: translateX(-282px);
				-ms-transform: translateX(-282px);
				-webkit-transform: translateX(-282px);
				transform: translateX(-282px);
			}
		}
}
@media ( max-width: 50em ){
	.logos{
		a{
			margin: 0 auto;
			display: block;
			float: none !important;
		}
	}
}

@media ( max-width: 30em ){
	a.letters-logo{
		display: none;
	}
	.share{
		display: block;
	}
	.social-buttons{
		left: -222px;
	}
	.showButtons{
		left: 0px;
	}

	.test{
		&:before{
			-moz-transform: translateY(-35px);
			-o-transform: translateY(-35px);
			-ms-transform: translateY(-35px);
			-webkit-transform: translateY(-35px);
			transform: translateY(-35px);
		}
	}
}



.navigation {
	font-family: @navigationFontFamily;
	direction: @gridDirection;
	margin: 10px auto;
	width: 100%;
	font-size: 21px;
	background-color: #ffffff;

	ul{
		text-align: center;
		border-top: 1px solid #808080;
		border-bottom: 1px solid #808080;
	}
	li{
		list-style: none;
		display: inline-block;
	}

	a {
		display: block;
		color: @navigationLinkColor;
		padding: 0 10px;
		margin: 5px;
		text-decoration: none;
	
		&:hover{
			color: @navigationHoverLinkColor;
		}
	}

	.menu-trigger{
		display: none;
	}
}


.footer-navigation{
	margin: 0;
	li{
		list-style: none;
		float: right;
		margin: 5px 10px;

		a{
			font-size: 15px;
			color: #3f3329;
		}
	}
}

@media ( max-width: 50em ){
	.navigation{
		position: fixed;
		right: 0;
		top: 0;
		margin: 0;
		width: 200px;
		-webkit-transition: -webkit-transform 0.5s;
		-moz-transition: -moz-transform 0.5s;
		-ms-transition: -ms-transform 0.5s;
		-o-transition: -0-transform 0.5s;
		transition: transform 0.5s;
		height: 100%;
		background-color: #ffffff;
		z-index: 20;
		list-style: none;		
		-webkit-transition: -webkit-transform 0.5s;
		-moz-transition: -moz-transform 0.5s;
		-ms-transition: -ms-transform 0.5s;
		-o-transition: -0-transform 0.5s;
		transition: transform 0.5s;
		-moz-transform: translateX(100%); 
		-o-transform: translateX(100%);
		-ms-transform: translateX(100%); 
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		ul{
			position: fixed;
			height: 100%;
			overflow-y: auto;
		}
		li {
			text-align: right;
			padding: 5px 0;
			width: 200px;
			border-bottom: 1px solid #808080;
		}

		a{
			color: #000000;
		}

		.menu-trigger{
			display: block;
			position: absolute;
			left: -49px;
			top: 0;
			margin: 0;
			padding: 0;
			width: 50px;
			height: 48px;
			background: transparent url( ../images/nancy-sprites.png ) no-repeat -103px -52px;
			text-indent: -9999px;
			border-left: 1px solid #808080;
			-webkit-transition: -webkit-transform 0.5s;
			-moz-transition: -moz-transform 0.5s;
			-ms-transition: -ms-transform 0.5s;
			-o-transition: -0-transform 0.5s;
			transition: transform 0.5s;
			// background-color: #ffffff;
		}
	} 

	.slideNavigation{
		-moz-transform: translateX(0%); 
		-o-transform: translateX(0%);
		-ms-transform: translateX(0%); 
		-webkit-transform: translateX(0%);
		transform: translateX(0%);

		.menu-trigger{
			background-color: #ffffff;
		}
	}

	.rotateTrigger{
		-moz-transform: rotate(-90deg); 
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg); 
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		// border-top: 1px solid #808080;
		border-right: 2px solid #808080;
		border-left: none !important;
	}

	
	.footer-navigation{
		display: none;
	}

}
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behavior on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background-color: #ffffff;
  font-size: @baseFontSize;
  color: @baseFontColor;
}

.mother-ship{
  direction: @gridDirection;
  font-family: @arabicFont;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

//typography
h1,
h2,
h3,
h4,
h5,
h6{
  color: @headersFontColor;
  font-family: @headersFont;
  margin: 5px 0;
  font-weight: normal;
}
h1 {
  font-size: @h1FontSize;
}
h2{
  font-size: @h2FontSize;
}
h3{
  font-size: @h3FontSize;
}
h4{
  font-size: @h4FontSize;
}

a{
  color: @headersFontColor;
  text-decoration: none;

  &:hover{
    color: @hoverLinksColor;
  }
}

//set the width of the grid
.row {
  max-width: 100%;
  margin: 0px auto;
}

/* Attribute selector */
[class*='col-'] {
  float: @gridFloats;
  padding: 0.7em;
  min-height: 1px;
}

/* Floats last ".col-" to the opposite direction */
[class*='col-']:last-of-type {
  padding-left: 0.5em;
  // float: @lastItemFloat;
}

/* Clearfix */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 24.99%; }
.col-4 { width: 33.32%; }
.col-5 { width: 41.65%; }
.col-6 { width: 49.98%; }
.col-7 { width: 58.31%; }
.col-8 { width: 66.64%; }
.col-9 { width: 74.97%; }
.col-10 { width: 83.3%; }
.col-11 { width: 91.63%; }
.col-12 { width: 100%; }

/* Custom Widths */
.col-25 { width: 25%; }
.col-75 { width: 75%; }

/* Landscape mobile & down */
@media ( max-width: 30em ) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
  }

  .row .col-4:nth-child(2) {
    float: right;
  }

  .row .col-4:nth-child(3) {
    clear: both;
    float: left;
  }

  .row .col-4:nth-child(4) {
    float: right;
  }
}

/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .col-2,
  .col-4,
  .col-6,
  .col-8,
  .col-10,
  .col-12,
  .col-1,
  .col-3,
  .col-5,
  .col-7,
  .col-9,
  .col-11 {
    width: 100%;
  }

  .col-m-1 { width: 8.33%; }
  .col-m-2 { width: 16.66%; }
  .col-m-3 { width: 24.99%; }
  .col-m-4 { width: 33.32%; }
  .col-m-5 { width: 41.65%; }
  .col-m-6 { width: 49.98%; }
  .col-m-7 { width: 58.31%; }
  .col-m-8 { width: 66.64%; }
  .col-m-9 { width: 74.97%; }
  .col-m-10 { width: 83.3%; }
  .col-m-11 { width: 91.63%; }
  .col-m-12 { width: 100%; }
}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {
  // .col-7 {
  //   width: 100%;
  // }
  // .col-2,
  // .col-4,
  // .col-8,
  // .col-10,
  // .col-12 {
  //   width: 50%;
  // }

  // .col-8,
  // .col-12{
  //   width: 25%;
  // }
}

@media ( min-width: 68.750em ) {

}



.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}