p{
	font-family: tahoma, sans-serif;
}

li{
	list-style: none;
}
header{
	padding-bottom: 10px;
	box-shadow: 0 5px 10px -4px #808080;
	position: relative;
	z-index: 5;
}
.inner-header{
	max-width: 960px;
	margin: 0 auto;
}
.logos{
	position: relative;
}
.pic-logo{
	width: 100px;
	height: 100px;
	background: transparent url(../images/nancy-sprites.png) no-repeat -450px 0;
}

.letters-logo{
	width: 550px;
	height: 100px;
	margin: 0 10px 0 0;
	background: transparent url(../images/nancy-sprites.png) no-repeat 0 -91px;
}

#content{
    background-color: #f1f1f1;
}

.sections-content{
	background-color: #ffffff;
}
.social-buttons{
	position: absolute;
	left: 0;
	top: -8px;
	transition: all 0.4s;
	li{
		float: right;
		// margin-right: 5px;
	}

	a{
		display: block;
		position: relative;
		width: 45px;
		height: 50px;
		background: transparent url(../images/nancy-sprites.png) no-repeat -3px -350px;

		&:hover{
			top: 5px;
		}
	}

	.instagram{
		a{
			background-position: -51px -350px;
		}
	}

	.facebook{
		a{
			background-position: -101px -350px;
		}
	}

	.twitter{
		a{
			background-position: -152px -350px;
		}
	}
	.keek{
		a{
			background-position: -201px -350px;
		}
	}
}

.share{
	top: 80px;
	width: 45px;
	height: 50px;
	background: transparent url(../images/nancy-sprites.png) no-repeat -255px -350px;
	display: none;
}


.footer-social{
	margin-left: 30px;
	float: left;
	.social-buttons{
		position: static;
		float: left;

		li{
			margin: 0 3px;
		}
		a{
			width: 20px;
			height: 20px;
			background-position: -3px -406px;

			&:hover{
				top: 0;
			}
		}

		.instagram{
			a{
				background-position: -33px -406px;
			}
		}

		.facebook{
			a{
				background-position: -60px -406px;
			}
		}

		.twitter{
			a{
				background-position: -90px -406px;
			}
		}

		.keek{
			a{
				background-position: -118px -406px;
			}
		}
	}
}

.sections-content{
	padding: 10px 0;
	max-width: 1024px;
	margin: 0 auto;
	box-shadow: 0px -6px 0px 0px #ffffff,
							5px 0 10px -4px #808080,
							-5px 0 10px -4px #808080;

	.section-title{
		max-width: 960px;
		h1{
			border-bottom: 1px solid #c8c6c7;;

			span{
				display: inline-block;
				width: 60px;
				height: 60px;
				background: transparent url(../images/nancy-sprites.png) no-repeat -125px 0px;
				vertical-align: middle;
				margin: 0 5px;
			}

			&:after{
				content: " ";
				width: 60px;
				height: 60px;
				background: transparent url(../images/nancy-sprites.png) no-repeat -280px 0px;
				float: left;
			}
		}

	}
}



//side latest section styling
.latest-sections{
  -moz-box-shadow: 0 0 5px #c8c6c7;
  -webkit-box-shadow: 0 0 5px #c8c6c7;
  box-shadow: 0 0 5px #c8c6c7;
	border-bottom: 1px solid transparent;

	h1{
		border-bottom: 1px solid #c8c6c7;
		padding: 10px;
		span{
      width: 60px;
      height: 54px;
      display: inline-block;
      vertical-align: middle;
      background: transparent url(../images/nancy-sprites.png) no-repeat -367px -18px;
    }
	}
	img{
		max-width: 100%;
	}
	> div{
		border-bottom: 1px solid #c8c6c7;
		margin-bottom: 15px;
		margin-top: 10px;
	}
}

.side-latest-news{
	background-color: #f6f6f6;
	> div{
		img{
			transition: all 0.1s;
		}
		&:hover{
			img{
				-moz-transform: scale(0.95);
				-o-transform: scale(0.95);
				-ms-transform: scale(0.95);
				-webkit-transform: scale(0.95);
				transform: scale(0.95);
			}
		}
	}
}
.side-latest-events{
	margin: 15px 0;
	h1{
		span{
			background-position: -125px 0px;
		}
	}
		> div{
		img{
			transition: all 0.1s;
		}
		&:hover{
			img{
				-moz-transform: scale(0.95);
				-o-transform: scale(0.95);
				-ms-transform: scale(0.95);
				-webkit-transform: scale(0.95);
				transform: scale(0.95);
			}
		}
	}
}

.img-wrapper-nopadding{
	padding: 0 !important;
}

footer{
	background-color: #eeeced;
	padding: 15px 0;
	font-family: @navigationFontFamily;
}

.inner-footer{
	max-width: 1024px;
	margin: 0 auto;
}
.footer-logo{
	width: 375px;
	height: 60px;
	background: transparent url(../images/nancy-sprites.png) no-repeat 4px -217px;
}

.unicef-logo{
	margin-top: 10px;
	width: 110px;
	height: 30px;
	background: transparent url(../images/nancy-sprites.png) no-repeat -239px -60px;
}
.button{
	display: block;
	background-color: #c8c6c7;
	max-width: 240px;
	margin: 20px auto;
	padding: 12px 0;
	text-align: center;
	border-radius: 5px;
	color: #ffffff;
	font-family: @headersFont;
}

.sharing-buttons-wrapper{
	position: relative;
	margin: 15px 0 0 0;
	min-height: 35px;
		&:before{
		outline: none;
		cursor: pointer;
		content: " ";
		position: absolute;
		// display: block;
		z-index: 15;
		top:0;
		width: 35px;
		height: 35px;
		background: #e4e4e4 url(../images/nancy-sprites.png) no-repeat -258px -307px;
		transition: all 0.3s;
	}

	.sharing-buttons{
		display: none;
	}
}

.sharing-buttons{
	width: 100%;
	float: right;
	position: relative;

	li{
		border-bottom: none !important;
		float: right;
		margin: 5px 0;
		height: 25px;

		position: relative;
		iframe{
			width: 90px !important;
		}

		span{
			background: none !important;
		}
	}

	.fb-share-button-container{
		margin-right: 0;
	}

}

.test{

	.sharing-buttons{
		display: block;
	}
}

@media (min-width: 30em ){
	.test{
		&:before{
				-moz-transform: translateX(-282px);
				-o-transform: translateX(-282px);
				-ms-transform: translateX(-282px);
				-webkit-transform: translateX(-282px);
				transform: translateX(-282px);
			}
		}
}
@media ( max-width: 50em ){
	.logos{
		a{
			margin: 0 auto;
			display: block;
			float: none !important;
		}
	}
}

@media ( max-width: 30em ){
	a.letters-logo{
		display: none;
	}
	.share{
		display: block;
	}
	.social-buttons{
		left: -222px;
	}
	.showButtons{
		left: 0px;
	}

	.test{
		&:before{
			-moz-transform: translateY(-35px);
			-o-transform: translateY(-35px);
			-ms-transform: translateY(-35px);
			-webkit-transform: translateY(-35px);
			transform: translateY(-35px);
		}
	}
}
