
.navigation {
	font-family: @navigationFontFamily;
	direction: @gridDirection;
	margin: 10px auto;
	width: 100%;
	font-size: 21px;
	background-color: #ffffff;

	ul{
		text-align: center;
		border-top: 1px solid #808080;
		border-bottom: 1px solid #808080;
	}
	li{
		list-style: none;
		display: inline-block;
	}

	a {
		display: block;
		color: @navigationLinkColor;
		padding: 0 10px;
		margin: 5px;
		text-decoration: none;
	
		&:hover{
			color: @navigationHoverLinkColor;
		}
	}

	.menu-trigger{
		display: none;
	}
}


.footer-navigation{
	margin: 0;
	li{
		list-style: none;
		float: right;
		margin: 5px 10px;

		a{
			font-size: 15px;
			color: #3f3329;
		}
	}
}

@media ( max-width: 50em ){
	.navigation{
		position: fixed;
		right: 0;
		top: 0;
		margin: 0;
		width: 200px;
		-webkit-transition: -webkit-transform 0.5s;
		-moz-transition: -moz-transform 0.5s;
		-ms-transition: -ms-transform 0.5s;
		-o-transition: -0-transform 0.5s;
		transition: transform 0.5s;
		height: 100%;
		background-color: #ffffff;
		z-index: 20;
		list-style: none;		
		-webkit-transition: -webkit-transform 0.5s;
		-moz-transition: -moz-transform 0.5s;
		-ms-transition: -ms-transform 0.5s;
		-o-transition: -0-transform 0.5s;
		transition: transform 0.5s;
		-moz-transform: translateX(100%); 
		-o-transform: translateX(100%);
		-ms-transform: translateX(100%); 
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		ul{
			position: fixed;
			height: 100%;
			overflow-y: auto;
		}
		li {
			text-align: right;
			padding: 5px 0;
			width: 200px;
			border-bottom: 1px solid #808080;
		}

		a{
			color: #000000;
		}

		.menu-trigger{
			display: block;
			position: absolute;
			left: -49px;
			top: 0;
			margin: 0;
			padding: 0;
			width: 50px;
			height: 48px;
			background: transparent url( ../images/nancy-sprites.png ) no-repeat -103px -52px;
			text-indent: -9999px;
			border-left: 1px solid #808080;
			-webkit-transition: -webkit-transform 0.5s;
			-moz-transition: -moz-transform 0.5s;
			-ms-transition: -ms-transform 0.5s;
			-o-transition: -0-transform 0.5s;
			transition: transform 0.5s;
			// background-color: #ffffff;
		}
	} 

	.slideNavigation{
		-moz-transform: translateX(0%); 
		-o-transform: translateX(0%);
		-ms-transform: translateX(0%); 
		-webkit-transform: translateX(0%);
		transform: translateX(0%);

		.menu-trigger{
			background-color: #ffffff;
		}
	}

	.rotateTrigger{
		-moz-transform: rotate(-90deg); 
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg); 
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		// border-top: 1px solid #808080;
		border-right: 2px solid #808080;
		border-left: none !important;
	}

	
	.footer-navigation{
		display: none;
	}

}