*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behavior on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background-color: #ffffff;
  font-size: @baseFontSize;
  color: @baseFontColor;
}

.mother-ship{
  direction: @gridDirection;
  font-family: @arabicFont;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

//typography
h1,
h2,
h3,
h4,
h5,
h6{
  color: @headersFontColor;
  font-family: @headersFont;
  margin: 5px 0;
  font-weight: normal;
}
h1 {
  font-size: @h1FontSize;
}
h2{
  font-size: @h2FontSize;
}
h3{
  font-size: @h3FontSize;
}
h4{
  font-size: @h4FontSize;
}

a{
  color: @headersFontColor;
  text-decoration: none;

  &:hover{
    color: @hoverLinksColor;
  }
}

//set the width of the grid
.row {
  max-width: 100%;
  margin: 0px auto;
}

/* Attribute selector */
[class*='col-'] {
  float: @gridFloats;
  padding: 0.7em;
  min-height: 1px;
}

/* Floats last ".col-" to the opposite direction */
[class*='col-']:last-of-type {
  padding-left: 0.5em;
  // float: @lastItemFloat;
}

/* Clearfix */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 24.99%; }
.col-4 { width: 33.32%; }
.col-5 { width: 41.65%; }
.col-6 { width: 49.98%; }
.col-7 { width: 58.31%; }
.col-8 { width: 66.64%; }
.col-9 { width: 74.97%; }
.col-10 { width: 83.3%; }
.col-11 { width: 91.63%; }
.col-12 { width: 100%; }

/* Custom Widths */
.col-25 { width: 25%; }
.col-75 { width: 75%; }

/* Landscape mobile & down */
@media ( max-width: 30em ) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
  }

  .row .col-4:nth-child(2) {
    float: right;
  }

  .row .col-4:nth-child(3) {
    clear: both;
    float: left;
  }

  .row .col-4:nth-child(4) {
    float: right;
  }
}

/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .col-2,
  .col-4,
  .col-6,
  .col-8,
  .col-10,
  .col-12,
  .col-1,
  .col-3,
  .col-5,
  .col-7,
  .col-9,
  .col-11 {
    width: 100%;
  }

  .col-m-1 { width: 8.33%; }
  .col-m-2 { width: 16.66%; }
  .col-m-3 { width: 24.99%; }
  .col-m-4 { width: 33.32%; }
  .col-m-5 { width: 41.65%; }
  .col-m-6 { width: 49.98%; }
  .col-m-7 { width: 58.31%; }
  .col-m-8 { width: 66.64%; }
  .col-m-9 { width: 74.97%; }
  .col-m-10 { width: 83.3%; }
  .col-m-11 { width: 91.63%; }
  .col-m-12 { width: 100%; }
}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {
  // .col-7 {
  //   width: 100%;
  // }
  // .col-2,
  // .col-4,
  // .col-8,
  // .col-10,
  // .col-12 {
  //   width: 50%;
  // }

  // .col-8,
  // .col-12{
  //   width: 25%;
  // }
}

@media ( min-width: 68.750em ) {

}


