// direction of the grid RTL or LTR
@gridDirection: rtl;
@gridFloats : right;
@lastItemFloat : left;

//typography
@baseFontSize: 1em;

@h1FontSize: @baseFontSize * 2.2em; //35px

@h2FontSize: @h1FontSize * 0.7em; //25px
@h3FontSize: @h2FontSize * 0.8em; //25.92px
@h4FontSize: @h3FontSize * 0.9em;
@h5FontSize: @h4FontSize * 0.8em;
@h6FontSize: @h5FontSize * 0.8em;


//font family
@sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily: Georgia, "Times New Roman", Times, serif;
@headersFont: 'Conv_GE_SS_Two_Light';
@arabicFont: 'tahoma';

//main font color
@baseFontColor: #9c9c9c;
//headers font color
@headersFontColor: #808080;
//links font color
@baseLinksColor: #6a5946;
@hoverLinksColor: #555555;


//navigation link colors
@navigationLinkColor: #808080;
@navigationFontFamily:'Conv_GE_SS_Two_Light';
@navigationHoverLinkColor: #999999;





